<ion-view view-title="Details">
    <ion-content class="detailsPage">
        <div class="detailsImg">
            <img src="{{thumb}}">
        </div>
        <div class="row">
            <div class="col col-50 col-offset-25">
                <progress-arc size="150" stroke="black" stroke-width="10" complete="score / 10" counter-clockwise="false" background="" class="scoreChart">
                </progress-arc>
            </div>
            <div class="col col-50 col-offset-25 detailsScore">
                <h2>{{score}}</h2>
                <p>/10</p>
            </div>
        </div>
        <h1>{{title}}</h1>
        <!--
        <p>{{publisher}}</p>
        <p>{{short_description}}</p>
        <p>{{platforms}}</p>
-->
    </ion-content>
</ion-view>