<ion-view view-title="Game list">
    <ion-content class="gameListPage">
            <div class="row gameCount">
                <div class="col col-100">
                    <ng-pluralize count="details.length" when="{'0': 'There are no games!',
                                                               'one': 'There is 1 game.',
                                                               'other': 'There is more than one game that matches that name. Please choose the game you wish to view details for.'}">
                    </ng-pluralize>
                </div>
            </div>
            <ion-list>
                <ion-item ng-repeat="game in details" ng-if="game.score > 0">
                    <div class="list">
                        <a class="item item-thumbnail-left waves-effect waves" href="#" ng-click="test({{$index}})">
                            <img src="{{game.thumb}}">
                            <h2><span class="listTitle">{{game.title}}</span></h2>
                            <p>Publisher: {{game.publisher}}</p>
                            <p>{{game.short_description}}</p>
                            <div class="gameListPlatforms" ng-repeat="platform in game.platforms">
                                <p>{{platform}}{{$last ? '' : ', '}}</p>
                            </div>
                        </a>
                    </div>
                </ion-item>
            </ion-list>
    </ion-content>
</ion-view>