<ion-view view-title="Help">
    <ion-content class="helpPage" scroll="false">
        <div class="row helpContents">
            <div class="col-80 col-offset-10">
                <p>To use this app, choose either a game or movie to search for. Then, enter the title of the game/movie you want to view. If more than one game/movie matches the title, you will be required to select which game/movie you want to see details for, from the list displayed.</p>
                <p>The game/movie's aggregated review score, along with additional information will then be displayed.</p>
                <p>That's it!</p>
            </div>
        </div>
    </ion-content>
</ion-view>