<ion-view view-title="">
    <ion-content class="helpPage">
        <div class="helpHeader">
            <h1>Help</h1>
        </div>
        <div class="row helpContents">
            <div class="col-80 col-offset-10">
                <p>To use this app, enter a game in the search bar on the home page and press submit.</p>
                <p>The game's aggregated review score, along with additional information will then be displayed.</p>
                <p>That's it!</p>
            </div>
        </div>
    </ion-content>
</ion-view>