<ion-view view-title="">
    <ion-content>
        <div class="homeHeader">
            <h1>Riv<span class="headerAccent">vu</span></h1>
        </div>
        <div class="homeContent">
            <form name="myForm">
<!--
                <div class="row">
                    <div class="col col-33">
                        <label>
                            <input type="radio" ng-model="select.platform" value="ps4"> Playstation 4
                        </label>
                        <br/>
                    </div>
                    <div class="col col-33">
                        <label>
                            <input type="radio" ng-model="select.platform" value="xbox"> Xbox One
                        </label>
                        <br/>
                    </div>
                    <div class="col col-33">
                        <label>
                            <input type="radio" ng-model="select.platform" value="pc"> PC
                        </label>
                        <br/>
                    </div>
                </div>
-->
                <div class="row">
                        <div class="input-field col s10">
                            <i class="mdi-action-search prefix"></i>
                            <input id="searchBox" type="text" ng-model="search" required>
                            <label for="searchBox">Search for a game</label>
                        </div>
                </div>
                <div class="row">
                    <div class="col col-33 col-offset-33">
                        <button class="btn waves-effect waves-light" type="submit" ng-click="update(search)" ng-disabled="myForm.$invalid">Submit
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>