<ion-view view-title="Movie details">
    <ion-content class="moviePage">
        <div class="movieImg">
            <img src="{{movieDetails.Poster}}">
        </div>
        <div class="movieDetailsContents">
            <div class="row detailsScore">
                <div class="col col-50 col-offset-25">
                    <progress-arc size="150" stroke="black" stroke-width="10" complete="movieTotalRating" counter-clockwise="false" background="" class="scoreChart">
                    </progress-arc>
                    <div class="scoreValue">
                        <h2>{{movieTotalRating*10 | number:1}}</h2>
                        <p>/10</p>
                    </div>
                </div>
            </div>
            <div class="row movieTitle">
                <div class="col col-80 col-offset-10">
                    <h1>{{movieDetails.Title}}</h1>
                    <p>{{movieDetails.Year}}</p>
                </div>
            </div>
            <div class="movieRatings">
                <div class="col col-100">
                    <h3>IMDB rating: <span class="movieRating">{{movieDetails.imdbRating}}/10</span></h3>
                </div>
                <div class="col col-100">
                    <h3>Metascore: <span class="movieRating">{{movieDetails.Metascore}}/100</span></h3>
                </div>
                <div class="col col-100">
                    <h3>Rotten Tomatoes rating: <span class="movieRating">{{movieDetails.tomatoMeter}}/100</span></h3>
                </div>
            </div>

            <div class="readMoreSection">
                <p><span class="readMoreTitle">Rated:</span> {{movieDetails.Rated}}</p>
                <p><span class="readMoreTitle">Released:</span> {{movieDetails.Released}}</p>
                <p><span class="readMoreTitle">Genre:</span> {{movieDetails.Genre}}</p>
                <p><span class="readMoreTitle">Plot:</span> {{movieDetails.Plot}}</p>
                <p><span class="readMoreTitle">Awards:</span> {{movieDetails.Awards}}</p>
                <p><span class="readMoreTitle">Profit:</span> {{movieDetails.BoxOffice}}</p>
            </div>
            
            <button class="btn waves-effect waves-light" type="submit" ng-click="saveFavourite()" >
                Favourite
                <i class="ion-android-star"></i>
            </button>
        </div>
    </ion-content>
</ion-view>