<ion-view view-title="Settings">
    <ion-content class="settingsPage" scroll="false">
        <div class="settingsContent">
            <div class="row">
                <div class="col col-50">
                    <p>Change theme</p>
                </div>
                <div class="col col-50">
                    <div ng-controller="settingsController"> <!--Set here so the theme will persist-->
                        <div class="list">
                            <label class="item item-input item-select waves-effect waves-light">
                                <select ng-change="changeTheme()" ng-model="css" ng-options="theme.url as theme.name for theme in themes"></select>
                            </label>
                        </div>
                        <link ng-href="css/{{css}}.min.css" rel="stylesheet">
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>