$bgColour: #FAFAFA;
$primary: #3F51B5;
$primary2: #C5CAE9;
$primary3: #303F9F;
$iconsText: #FFFFFF;
$text: #212121;
$text2: #727272;
$accentColour: #FF5252;
$accentColour2: lighten($accentColour, 10);
$dividerColour: #B6B6B6;

@import "style.scss";