$bgColour: #FAFAFA;
$primary: #9C27B0;
$primary2: #E1BEE7;
$primary3: #7B1FA2;
$iconsText: #FFFFFF;
$text: #212121;
$text2: #727272;
$accentColour: #FF4081;
$accentColour2: lighten($accentColour, 10);
$dividerColour: #B6B6B6;

@import "style.scss";