// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Include the font
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500);
@mixin headers($size) {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: $size;
}

@mixin content($size) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $size;
}

@mixin paddingBlock() {
    padding: 65px 0 40px 0;
}

@mixin headerBlock() {
    @include paddingBlock();
    background-color: $primary;
    h1 {
        @include headers(3em);
        color: $accentColour;
        text-align: center;
        font-weight: 300;
    }
}
@mixin pageDefault(){
    background-color: $bgColour;
    color: $text;
    padding-top: 40px;
}


//All/More than one pages/////////////////////////////////////
.backdrop.visible {
    display: block;
}
select{
    display: block;
}
ion-content {
    background-color: $bgColour;
}

.platform-android.has-translucent-status-bar ion-header-bar.navBar.bar.bar-header.disable-user-behavior  {
    padding-top: 25px;
    height: 70px;
    box-shadow: none;
    border: none;
}

ion-content.scroll-content.ionic-scroll.has-header {
    border-top: none;
    box-shadow: none;
}

.scroll-content{
    padding-top: 0;
}
.bar {
    background-size: 0;
}

.btn {
    background-color: $accentColour;
    padding-left: 20px;
    padding-right: 15px;
    display: block;
    margin: 0 auto;
    &:hover{
        background-color: $accentColour2;
    }
}
.btn:disabled {
    background-color: $accentColour2;
    color: $accentColour2;
    &:hover{
        background-color: $accentColour2;
        color: $accentColour2;
    }
}

.spinner svg {
    width: 50px;
    height: 50px;
    stroke: $accentColour;
}

.readMoreSection {
    opacity: 1;
    padding: 40px;
    background: $bgColour;
    p{
        @include content(1em);
    }
    .readMoreTitle{
        color: $accentColour;
    }
}

.scroll {
    height: 100%;
}

#map-canvas {
    width: 100%;
    height: 300px;
}

///////////////////////////////////////////////
//Home page////////////////////////////////////
.homeContent {
    @include pageDefault();
    padding-top: 0;
    @include content(1em);
    .homeRadios {
        padding: 20px 0 20px 0;
        background-color: $primary2;
        [type="radio"]:checked+label {
            color: $accentColour;
        }
        [type="radio"]+label {
            color: $text;
        }
        [type="radio"]:not(:checked)+label:before {
            border: 2px solid $accentColour2;
        }
        [type="radio"]:checked+label:after {
            border: 2px solid $accentColour;
            background-color: $accentColour;
        }
    }
    .homeSearchBtn {
        min-width: 100%;
        height: 0;
        min-height: 40px;
        border-radius: 0;
        line-height: 40px;
        background-color: $accentColour;
        border: none;
        color: #ffffff;
        @include content(1.1em);
    }
    .homeSearch {
        padding: 0;
        margin-top: 20px;
        .item-input-wrapper {
            background-color: $primary3;
        }
        input[type="text"] {
            @include content(1.1em);
            font-weight: 300;
        }
        input {
            height: 50px;
        }
    }
    
    .input-field .prefix ~ input,
    .input-field .prefix ~ textarea {
        border-bottom: 1px solid $dividerColour;
    }
    input[type=text]+label {
        color: $text2;
        font-weight: 300;
    }
    input[type=text]:focus {
        box-shadow: none;
        border-bottom: 1px solid $accentColour2;
    }
    .input-field input[type=text]:focus+label {
        color: $accentColour2;
    }
    .input-field .prefix.active {
        color: $accentColour2;
    }
    .prefix {
        font-size: 1.5em;
        line-height: 2.5em;
        color: $accentColour2;
    }
    .input-field input[type=text] {
        box-shadow: none;
        color: $text;
    }
    div.ng-hide-remove {
        transition: 0.6s linear opacity;
        opacity: 0;
    }
    div.ng-hide-remove-active {
        opacity: 1;
    }
}
.homeHeader {
    @include headerBlock();
}

.headerAccent {
    color: $iconsText;
}

/////////////////////////////////////////////////
//Game Details page/////////////////////////////////////
.gameDetailsPage {
    @include pageDefault();
    padding-top: 0;
    .scoreValue {
        h2 {
            color: $accentColour;
            @include headers(4em);
            margin: 0;
        }
        p{
            text-align: center !important;
        }
        position: relative;
        color: $accentColour;
        top: -120px;
        text-align: center;
    }
    .gameDetailsContents {
        position: relative;
        top: -100px;
        p {
            text-align: left;
            @include content(1em);
        }
        .gameDetailsScore {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    .gameDetailsImg {
        width: 100vw;
        height: 60vh;
        overflow: hidden;
        img {
            width: 100%;
            margin-top: -30%;
        }
    }
    circle {
        stroke: $accentColour;
        stroke-linecap: butt;
    }
    svg {
        background-color: black;
        border-radius: 80px;
        display: block;
        margin: 0 auto;
    }
    h1 {
        text-align: center;
        @include headers(2.5em);
        text-transform: uppercase;
        margin: 0;
    }
    .gameTitle{
        background-color: $primary3;
        @include paddingBlock();
        margin-top: -160px;
        h1 {
            text-align: center;
            @include headers(2.5em);
            font-weight: 300;
            color: $iconsText;
            text-transform: uppercase;
            margin: 0;
            padding-top: 25px
        }
    }
}
//Movie Details page/////////////////////////////
.moviePage {
    @include pageDefault();
    padding-top: 0;
    .movieDetailsContents {
        position: relative;
        top: -100px;
        p {
            @include content(1em);
        }
        h3{
            color: $iconsText;
            font-weight: 300;
            font-size: 1.3em;
            .movieRating{
                color: $accentColour;
                font-weight: 400;
            }
        }
        .movieRatings{
            padding: 40px;
            background-color: $primary;
        }
        .detailsScore {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    .movieImg {
        width: 100vw;
        height: 60vh;
        overflow: hidden;
        img {
            width: 100%;
            margin-top: -30%;
        }
    }
    circle {
        stroke: $accentColour;
        stroke-linecap: butt;
    }
    svg {
        background-color: black;
        border-radius: 80px;
        display: block;
        margin: 0 auto;
    }
    h1 {
        text-align: center;
        @include headers(2.5em);
        text-transform: uppercase;
        margin: 0;
    }
    .scoreValue {
        h2 {
            color: $accentColour2;
            @include headers(4em);
            margin: 0;
        }
        p{
            text-align: center !important;
        }
        position: relative;
        color: $accentColour2;
        top: -120px;
        text-align: center;
    }
    .movieTitle{
        background-color: $primary3;
        @include paddingBlock();
        margin-top: -160px;
        margin-bottom: 0;
        h1 {
            text-align: center;
            @include headers(2.5em);
            font-weight: 300;
            color: $iconsText;
            text-transform: uppercase;
            margin: 0;
            padding-top: 25px
        }
        p{
            text-align: center;
        }
    }
}

//////////////////////////////////////////////////////
//Menu/////////////////////////////////////////////
.menuPage {
    i {
        color: $accentColour;
    }
    .item-complex .item-content {
        background-color: $bgColour;
    }
    ion-content.menuPage.scroll-content.ionic-scroll.has-header {
        background-color: $primary;
    }
    a {
        color: $text;
    }
    .item-complex .item-content {
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .row {
        margin-bottom: 0;
    }
    .col-20 {
        padding: 20px 0 20px 20px;
    }
    .col-80 {
        padding: 20px 0 20px 0;
    }
}

//////////////////////////////////////////////////
//Navbar/////////////////////////////////////////
.navBar {
    background-color: $primary;
    color: #ffffff;
    h1 {
        color: $accentColour;
    }
}
.menu .scroll-content {
    padding-top: 25px;
}

.platform-android .bar .title {
    font-weight: 400;
    text-align: center;
    font-size: 1.7em;
}

.bar-header {
    border: none;
    border-right: none;
}

.menu-content {
    box-shadow: none;
}

.scroll-content {
    border: none;
}
.bar .button.button-clear{
    color: $iconsText;
}
.bar .button.back-button {
    color: $primary;
}
.button-icon{
    color: $iconsText;
    border-radius: 50px;
    font-size: 2em;
}


.bar .title {
    font-weight: 400;
    text-align: left;
    padding-left: 60px;
    padding-top: 8px;
    left: 0 !important;
    right: 0 !important;
}

.item-complex .item-content {
    padding-bottom: 0;
}

.grade-b .menu-content {
    left: 0;
    border-left: none;
}
ion-header-bar.navBar.bar.bar-header.disable-user-behavior {
    height: 60px;
    padding: 12px;
}
////////////////////////////////////////////////
//Game/Movie List Page////////////////////////////////
.gameListPlatforms {
    display: inline-block;
    padding-right: 8px;
}

.gameListPage, .movieListPage {
    @include pageDefault();
    padding-top: 0;
    .item-body {
        h2 {
            margin-bottom: 0;
        }
        p {
            margin-top: 5px;
            padding: 5px;
        }
    }
    .listTitle{
        color: $accentColour;
    }
    .item{
        background-color: $bgColour;
        a{
            background-color: darken($bgColour, 5);
            margin-bottom: -10px;
            margin-top: -10px;
        }
        border: none;
    }
}

.card{
    a{
        margin-right: 0px;
    }
}

.gameCount,
.movieCount {
    background-color: $primary2;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    text-align: center;
    color: $text;
}

.cardLink {
    .col.col-20 {
        padding-right: 0;
        font-size: 2.5em;
    }
    .col.col-80 {
        padding-left: 0px;
    }
    .row {
        margin-bottom: 0;
    }
    .item-avatar {
        padding-left: 0;
    }
}

/////////////////////////////////////////////////
//Settings page////////////////////////////////
.settingsPage {
    @include pageDefault();
    .settingsContent{
        height: 300px;
        h2{
            font-weight: 300;
        }
        p{
            line-height: 50px;
            float: right;
            @include content(1.5em);
        }
    }
    .item-select{
        height: 50px;
        width: 100%;
        float: left;
        border: none;
        background-color: $accentColour;
        select{
            max-width: 100%;
            background-color: $accentColour;
            color: $iconsText;
        }
        option{
            background-color: $accentColour2
        }
    }
}
/////////////////////////////////////////////////
//Favourites page////////////////////////////////
.favouritesPage {
    @include pageDefault();
    h1{
        font-size: 1.5em;
        font-weight: 400;
        
    }
    .favSecIcon{
        color: $accentColour;
    }
    .favDelete{
        color: $primary;
        transition: 0.3s linear all;
        font-size: 2em;
        float: right;
        padding-right: 0;
        &:hover{
            color: red;
        }
    }
    .item{
        color: $text2;
        h2{
            font-size: 1.2em;
        }
        p{
            color: $primary;
        }
     
    }
    .item-divider{
        color: $text;

    }
}
/////////////////////////////////////////////////
//Help page//////////////////////////////////////////
.helpPage {
    @include pageDefault();
    .helpContents {
        text-align: left;
        p {
            @include content(1em);
        }
        p + p + p {
            margin-top: 60px;
            color: $accentColour;
            text-align: center;
            font-size: 1.5em;
        }
    }
}

/////////////////////////////////////////////////////