$bgColour: #FAFAFA;
$primary: #3F51B5;
$primary2: #C5CAE9;
$primary3: #303F9F;
$secondary: #1B5E20;
$iconsText: #737373;
$text: #212121;
$text2: #B8B8B8;
$accentColour: #FF5252;
$accentColour2: #FF8A80;
